{% extends 'management_app/base.html' %}

{% block content %}

<div class="page-header">

    <h2>

        Leave Requests

    </h2>

</div>

<div class="card">

<div class="card-body">

<table class="table table-hover">

<thead>

<tr>

<th>Employee</th>
<th>Type</th>
<th>Start</th>
<th>End</th>
<th>Status</th>
<th>Action</th>

</tr>

</thead>

<tbody>

{% for leave in leaves %}

<tr>

<td>

{{ leave.employee.username }}

</td>

<td>

{{ leave.leave_type }}

</td>

<td>

{{ leave.start_date }}

</td>

<td>

{{ leave.end_date }}

</td>

<td>

{{ leave.status }}

</td>

<td>

{% if leave.status == "Pending" %}

<a href="{% url 'approve_leave' leave.id %}"
class="btn btn-success btn-sm">

Approve

</a>

<a href="{% url 'reject_leave' leave.id %}"
class="btn btn-danger btn-sm">

Reject

</a>

{% else %}

-

{% endif %}

</td>

</tr>

{% empty %}

<tr>

<td colspan="6">

No leave requests.

</td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

</div>

{% endblock %}