{% extends 'management_app/base.html' %}

{% block auth_content %}

<div class="container mt-5">

    <div class="card p-4">

        <h3>

            OTP Verification

        </h3>

        <form method="POST">

            {% csrf_token %}

            <input
                type="text"
                name="otp"
                class="form-control"
                placeholder="Enter OTP">

            <br>

            <button
                class="btn btn-primary">

                Verify

            </button>

        </form>

    </div>

</div>

{% endblock %}