{% extends 'management_app/base.html' %}

{% block auth_content %}

<div class="login-container">

    <div class="login-left">

        <div class="overlay">

            <h1>
                OTP
                <br>
                Verification
            </h1>

            <p>
                Please enter the OTP sent
                to your email address.
            </p>

        </div>

    </div>

    <div class="login-right">

        <div class="login-box">

            <h2>
                Verify OTP
            </h2>

            <p>
                Secure Login Verification
            </p>

            {% if messages %}

                {% for message in messages %}

                    <div class="alert alert-danger">

                        {{ message }}

                    </div>

                {% endfor %}

            {% endif %}

            <form method="POST">

                {% csrf_token %}

                <div class="mb-4">

                    <label>

                        Enter OTP

                    </label>

                    <input
                        type="text"
                        name="otp"
                        class="form-control"
                        placeholder="Enter 6 digit OTP"
                        required
                    >

                </div>

                <button
                    type="submit"
                    class="btn login-btn w-100">

                    Verify OTP

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}